@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-Regular-slnt=0.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-Bold-slnt=0.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-Light-slnt=0.ttf');
    font-weight: 100;
}